.theme-dark {
  position: relative;
  background: #191d28;
  min-height: 100vh;
  color: #fff;
  font-family: Oswald, sans-serif;
}
.theme-light {
  background: #fff;
  position: relative;
  min-height: 100vh;
  color: #0c0f48;
  font-family: Oswald, sans-serif;
  font-weight: 300;
}
